@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Crimson+Text:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: "Poppins", serif;
	background-color: rgb(5, 10, 23);
}

h1 {
	text-align: center;
	color: white;
}

#stage {
	width: 400px;
	margin: auto;
	line-height: 150px;
	border: 2px solid #ccc;
	text-align: center;
	font-size: 24px;
	margin-bottom: 40px;
	color: white;
}

#seating {
	overflow: hidden;
	width: 850px;
	margin: auto;
	padding-left: 10px;
}

#seating section {
	float: left;
}

#seating section div {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	width: 37px;
	height: 37px;
	line-height: 32px;
	text-align: center;
	font-size: 10px;
}

.a {
	background: url(svg/chair-a.svg) no-repeat;
	color: #EDEDED;
}

.a:hover,
.s:hover {
	cursor: pointer;
}

.a:hover {
	background: url(svg/chair-h.svg) no-repeat;
	color: #000;
}

.s {
	background: url(svg/chair-s.svg) no-repeat;
}

.r {
	background: url(svg/chair-r.svg) no-repeat;
	color: #000;
}

#seating .label {
	text-transform: uppercase;
	font-size: 12px;
	line-height: 37px;
}

#left,
#right {
	width: 188px;
}

#middle {
	width: 423px;
	margin: 0 20px;
}

#reserve {
	display: block;
	position: absolute;
	top: 20px;
	left: 20px;
	padding: 20px;
	background: rgb(177, 99, 243);
	border-radius: 15px;
	color: white;
	text-decoration: none;
}

/****************** Reservation form *****************/

#resform {
	display: none;
	position: absolute;
	top: 10%;
	left: 30%;
	width: 40vw;
	padding: 20px;
	background: rgb(5, 10, 23);
	border: 2px solid #ccc;
	color: white;
}

#resform h2,
p {
	text-align: center;
}

#confirmres {
	text-align: center;
}

input,
label {
	display: block;
	width: 20vw;
	margin: auto;
}

input {
	padding: 5px;
	margin-bottom: 20px;

	padding: 12px;
	font-size: 16px;
	width: 100%;
	max-width: 300px;
	border: 1px solid #ccc;
	border-radius: 5px;

}

label {
	margin-bottom: 5px;
}

#confirmbtn {
	background-color: rgb(177, 99, 243);
	;
}