@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Crimson+Text:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;


}



header {
    position: absolute;
    top: 0;
    width: 100%;

    background-color: rgb(177, 99, 243);
}

header .navbar {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

}

.navbar .navmenu {
    display: flex;
    gap: 10px;
    margin: 0% 40%;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar .navmenu .navlink {
    color: white;
    padding: 10px 18px;
    font-size: 19px;
}


.navbar .logo_text {

    color: white;
    font-size: 22px;

}



body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgb(5, 10, 23);
    justify-content: left;
    margin: 0;


}


.events {
    display: flex;
    flex-direction: row;
    color: white;

}

.event-list {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 20px;
    color: white;

}


.event {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    margin: 20px 40px;
    background-color: rgb(26, 24, 58);


}



form {
    color: white;
    background: rgb(26, 24, 58);
    padding: 40px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    width: 100%;
    margin: 20px 30px;
}

.sponstype {

    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
    gap: 5px;
    margin: 10;

}



input,
button {
    margin: 10px 0;
    padding: 12px;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: rgb(177, 99, 243);
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;

}

button:hover {
    background-color: #562188;
}